body{
margin:0;
font-family:Georgia,serif;
background:#fffaf5;
}

.hero{
height:100vh;

background:
linear-gradient(
rgba(40,0,0,0.35),
rgba(255,255,255,0.45)
),

url("images/saba1.jpg");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content{

background:rgba(255,255,255,0.75);

padding:35px;

border-radius:25px;

max-width:500px;

backdrop-filter:blur(8px);
}

h1{

font-size:52px;

color:#7a0019;
}

.date{

font-size:22px;

color:#b8860b;
}

.quote{

font-size:22px;

line-height:1.7;

color:#333;
}

.enter-btn{

background:#7a0019;

color:white;

border:none;

padding:15px 30px;

border-radius:40px;

font-size:18px;

cursor:pointer;
}
